<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shlink</title>
  <link rel="stylesheet" href="styles.css">
  
</head>
<body>
  <header>
    <nav>
      <div class="logo"><a href="/">SHLINK</a></div>
      <ul>
        <li><a href="#features">Features</a></li>
        <li><a href="/url/logout">Logout</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <h1>SHLINK</h1>
    <p>Shorten your long URLs quickly and easily!</p>
  </header>

  <section id="shorten-form">
    <form action="/url/shorten" method="post">
      <label for="longURL">Enter your long URL:</label>
      <input type="text" id="longURL" name="longURL" placeholder="https://example.com" required>

      <button type="submit">Shorten</button>
    </form>
  </section>

  <section id="shortened-urls">
    <h2>Here is your result</h2>
    <p>Long Url = <a href="<%= newURL.longUrl %>" target="_blank"><%= newURL.longUrl %></a></p>
    <p>Short Url = <a href="<%= newURL.shortUrl %>" target="_blank"><%= newURL.shortUrl %></a></p>
    <img src="<%= newURL.QRCode %>" alt="qr code" >
  </section>

  <footer>
    <p>&copy; 2024 SHLINK All rights reserved</p>
  </footer>
</body>
</html>
